.content {
    padding: 15px;
}

.heading {
    padding-bottom: 20px;
    border-bottom: 1px solid #dee2e6 !important;
    margin-bottom: 10px;
}

.text {

    color: #007bff;
    margin-left: 10px;
    cursor: pointer;
}

.label {
    display: block;
    padding: 10px 0 0 0;
}

.input {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input:focus {
    outline: 1px solid #ccc;
    border-radius: .25rem;
}

.input:disabled {
    background-color: rgb(230, 230, 230);
}

.btnSave {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #3bd257;
    color: white;
    font-weight: 400;
    margin-right: 10px;
}

.btnCancel {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #e92603;
    color: white;
    font-weight: 400;
    margin-right: 10px;
}

.btnSave:focus {
    outline: none;
}

.btnCancel:focus {
    outline: none;
}