.buttonGroupWorks{
display: flex;
justify-content: center;
align-items: center;
margin: 30px 0;
}
.buttonGroupWorksButton{
    font-size: 11px;
    border: 1px solid #e9ecef;
    padding: 0 15px;
    margin: 5px 3px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    line-height: 30px;
    transition: all .6s;
    border-radius: 3px;
    background-color: white;
}
.buttonGroupWorksButton:focus{
    outline: none;
}
.ourworksActive{
    color: #fff;
    background-color: #f1894c;
    border: 1px solid #f1894c;
}
.worksThumb{
    height: 230px;
    width: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
}
.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}